<header th:fragment="header">
    <div class="header-container">
        <div class="logo">
            <a th:href="@{/}">
                <img src="/images/bidy_logo.png" alt="로고">
            </a>
        </div>

        <!-- 로그인 했을 때 -->
        <div class="header-actions" th:if="${loginMember != null}">
            <a href="/products/new" class="header-post">
                <span>글쓰기</span>
            </a>

            <!-- 마이페이지 드롭다운 -->
            <div class="header-dropdown">
                <img th:src="${loginMember.profileImageUrl} ?: @{/images/profile_temp.png}" alt="마이페이지"
                     class="mypage-icon">
                <div class="dropdown-menu">
                    <a href="/notifications" class="header-icon"><span>🔔</span> <span>알림</span></a>
                    <a href="/chat/list" class="header-icon"><span>💬</span> <span>채팅</span></a>
                    <a href="/mypage" class="header-icon"><span>🐤</span>마이페이지</span></a>
                    <a href="/logout" class="header-icon"><span>🚪</span> <span>로그아웃</span></a>
                </div>
            </div>
        </div>

        <!-- 로그인 안 했을 때 -->
        <div class="header-actions" th:if="${loginMember == null}">
            <a href="/login" class="header-icon"><span>로그인</span></a>
            <a href="/signup" class="header-icon"><span>회원가입</span></a>
        </div>
    </div>

    <script th:src="@{/js/header.js}"></script>
</header>