header {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

.logo { margin-right: auto; }

.logo img {
    width: 140px;
    height: auto;
    object-fit: contain;
    display: block;
}

.header-icon {
    color: #494949;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 15px;
}

.header-post {
    width: 90px;
    height: 45px;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #ff9741;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.header-post:hover {
    background-color: rgb(255, 118, 20);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
