<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>채팅방 목록</title>
    <style>
        body {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
        }
        .chat-room-item {
            width: 100%;

        }
    </style>
</head>
<body>
    <div th:each="room : ${rooms}" class="chat-room-item">
        <a th:href="@{/chat/{productId}(productId=${room.productId},
                                        buyerId=${room.otherUserId})}">
            <h3 th:text="${room.productPostName}">제목</h3>

            <p>
                <span th:text"${room.otherUserNickName}>닉네임</span>
            </p>

            <p class="last-message" th:text="${room.lastMessage}"></p>
            <small th:text="${#temporals.format(room.lastMessageTime, 'yyyy-MM-dd HH:mm')}">
                시간
            </small>
        </a>
    </div>
</body>
</html>